In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('chipotle.tsv', sep='\t')
df.tail(2)

,order_id,quantity,item_name,choice_description,item_price
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [ ]:
## 함수를 사용해서
## item_price $부분을 삭제하고, float 타입으로 변경해서 입력하시오.
def func(x):
  return float(x[1:])

df['item_price'] = df['item_price'].apply(func)
df['item_price'] = df['item_price'].apply(lambda x: float(x[1:]))

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [46]:
df['item_price'].sum()
df['item_price'].mean()
df['item_price'].max()
df['item_price'].min()

np.float64(1.09)

In [43]:
df.sort_values('item_price', ascending=False).head(30)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",35.25
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",35.00
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",35.00
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",33.75
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",32.94
3603,1443,3,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",27.75
1255,511,3,Steak Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",27.75
3636,1454,3,Chicken Burrito,"[Fresh Tomato Salsa, Rice]",26.25
1514,616,3,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",26.25
3634,1454,3,Chicken Burrito,[Fresh Tomato Salsa],26.25
3334,1336,3,Steak Bowl,"[Tomatillo Green Chili (Medium), [Rice, Black ...",26.07
281,123,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",23.78
613,253,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",23.78
4307,1718,2,Steak Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Sour ...",23.50
1566,635,2,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",23.50
506,212,2,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",23.50
1753,708,2,Steak Burrito,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",23.50
3754,1502,2,Steak Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",23.50
4427,1764,2,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Sour ...",23.50
2954,1175,2,Steak Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",22.96
3507,1409,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Black Beans, Ch...",22.50
1429,578,2,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Sour Cream, Guacam...",22.50
4423,1764,2,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",22.50
135,60,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Sour Cream, Che...",22.50
633,261,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Black Beans, Ch...",22.50
2419,960,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Black Beans, Ch...",22.50
1110,459,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Cheese, Gua...",22.50
591,243,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Black Beans, So...",22.50
1923,777,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Black Beans, Ch...",22.50

In [41]:
df.describe()

          order_id     quantity   item_price
count  4622.000000  4622.000000  4622.000000
mean    927.254868     1.075725     7.464336
std     528.890796     0.410186     4.245557
min       1.000000     1.000000     1.090000
25%     477.250000     1.000000     3.390000
50%     926.000000     1.000000     8.750000
75%    1393.000000     1.000000     9.250000
max    1834.000000    15.000000    44.250000

In [13]:
# item_name으로 그룹핑을 해서 개수를 나열한 것.
df.groupby('item_name').value_counts().head(20)

item_name          order_id  quantity  choice_description  item_price
6 Pack Soft Drink  129       1         [Sprite]            $6.49         1
                   148       1         [Diet Coke]         $6.49         1
                   154       1         [Coke]              $6.49         1
                   168       1         [Diet Coke]         $6.49         1
                   182       1         [Diet Coke]         $6.49         1
                   230       1         [Diet Coke]         $6.49         1
                   264       1         [Diet Coke]         $6.49         1
                   298       1         [Nestea]            $6.49         1
                   306       1         [Coke]              $6.49         1
                   363       1         [Coke]              $6.49         1
                   422       1         [Sprite]            $6.49         1
                   432       1         [Coke]              $6.49         1
                   465       1         [Coke]              $6.49         1
                   481       1         [Coke]              $6.49         1
                   511       1         [Coke]              $6.49         1
                   520       1         [Sprite]            $6.49         1
                   566       1         [Diet Coke]         $6.49         1
                   708       1         [Coke]              $6.49         1
                   709       1         [Diet Coke]         $6.49         1
                   749       1         [Coke]              $6.49         1
Name: count, dtype: int64